.searchInput {
  padding: 2.25rem 2.25rem 2.25rem 5rem;

  background-repeat: no-repeat;
  background-position: 2rem center;
  background-size: 2rem;

  max-width: 28rem;
  width: 100%;

  border: none;
  box-shadow: 6px 5px 9px 0 rgba(0, 0, 0, 0.35);

  @media (max-width: 700px) {
    display: block;
    width: 100%;
    max-width: 100rem;
  }
}