.categoryCard {
  padding: 3.75rem 1.75rem;
  background-color: #fff;
  min-width: 16.8rem;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);

  @media (max-width: 602px) {
    width: 100%;
    padding: 1rem 1.75rem;
  }
  
  img {
    margin-bottom: 1.2rem;

    @media (max-width: 602px) {
    margin-bottom: 0.5rem;
  }
  }

  h5{
    font-weight: 400;
  }
}

.categoryCard:last-child {
  background-color: transparent;
  border: 2px solid #ABB5BF;
  box-shadow: none;
}