.footer {
  background-color: #52606d;
}

.footerInner {
  max-width: 1720px;
  margin: 0 auto;
  padding: 3.5rem 2rem;

  @media (max-width: 610px) {
    padding: 3rem 1rem;
  }
}

.city {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3.5rem;
  padding-bottom: 3.5rem;
  border-bottom: 2px solid #465461;

  @media (max-width: 854px) {
    justify-content: flex-start;
  }

  li {
    a {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2.5rem;
}

.footerSocials {
  display: flex;
  gap: 2.2rem;
  
  @media (max-width: 396px) {
    gap: 1.5rem;
  }
}
